{% extends "main/layout.html" %}
{% load static %}

<!-- BLOQUE PARA EL CONTENIDO VARIABLE  -->
{% block variable_content %}
  <header class="masthead position-relative bg-image"
     style="background-image: url({% static 'main/img/background.jpg' %}); height: 50vh;">
    <div class="container position-relative mt-md-4">
      <div class="row justify-content-center pb-4">
        <div class="text-light text-center col-12 col-md-7 mt-4 pt-4">
          <img class="mb-2" src="{% static 'main/img/stock_control_logo.png' %}" alt="" width="150" height="150">
          <h1 class="mb-4">
            Stock Control
          </h1>
          <h5 class="pt-2">
            Tu app de gestión de inventario
          </h5>
        </div>
      </div>
    </div>
  </header>
{% endblock %}
